<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
      <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <script src="https://cdn.tailwindcss.com"></script>
      <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

  </head>
  <body class="bg-gray-900">
      <%- include('header'); -%>
      <br>
      <div class="flex justify-center items-center h-screen bg-gray-900 ">
        <div class="text-center">
          <div class="bg-white rounded-lg shadow-lg p-8 mx-4 sm:mx-auto max-w-lg">
            <img src="/image-assets/404-error.png" alt="" class="mb-4">
            <h1 class="text-2xl font-bold text-gray-900 font-ubuntu">We're enhancing your experience</h1>
            <h3 class="text-xl text-gray-700 mt-4 font-ubuntu">This page is currently undergoing maintenance to enhance your browsing experience. Our team is diligently working on it and will have it back up soon. We appreciate your patience and apologize for any inconvenience caused</h3>
          </div>
        </div>
      </div>
      <br>
    <%- include('footer'); -%>
  </body>
  
