<footer>
    <div class="flex flex-col items-center justify-center bg-gray-800 py-8">
        <h1 class="text-white text-lg mb-6" style="font-size: 30px;">Made with ❤️ by Shaajo Inc.</h1>
        <h1 class="text-white text-lg mb-6" style="font-size: 20px;">&copy Copyright protected.</h1>
        <ul class="flex justify-end space-x-4">
            <li><a href="https://www.facebook.com/profile.php?id=100054356226111" class="text-white"><img
                        src="image-assets/facebook.png" alt="Facebook Logo" class="w-6 h-6"></a></li>
            <li><a href="https://www.instagram.com/shaajo_official/" class="text-white"><img
                        src="image-assets/instagram.png" alt="Instagram Logo" class="w-6 h-6"></a></li>
            <li><a href="https://goo.gl/maps/xc3FCCWNE5M5WL677" class="text-white"><img
                        src="image-assets/google-maps.png" alt="Google Maps Logo" class="w-6 h-6"></a></li>
        </ul>
      </body>
</footer>
  