<nav class="navbar bg-body-tertiary" style="background-color: #242B2E; padding-top: 0; padding-bottom: 0;">
    <div class="container-fluid" style="background-color: #242B2E;">
        <a href="/home?userId=<%= userId %>" class="navbar-brand" style="color: white;">SHAAJO</a>
        <div class="flex items-center">
           <a href="/account?userId=<%= userId %>" style="padding-left: 5px; padding-top: 3px; padding-bottom: 5px;"><button class="btn btn-success">My Account</button></a> 
           <a href="/track?userId=<%= userId %>"style="padding-left: 5px; padding-top: 3px; padding-bottom: 5px;"><button class="btn btn-success">Track My Orders</button></a> 
        </div>
    </div>
</nav>