<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style>
        body {
            background-color: #eee;
        }

        .card {
            border-radius: 25px;
        }

        .logo {
            width: 250px;
        }

        .form-outline {
            position: relative;
        }

        .form-outline label {
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            color: #777;
            pointer-events: none;
            transition: all 0.3s ease;
        }

        .form-outline .form-control {
            padding-left: 40px;
        }

        .form-outline .form-control:focus~label,
        .form-outline .form-control:valid~label {
            top: 0;
            font-size: 12px;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Welcome to Shaajo</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary" style="background-color: #242B2E; padding-top: 0; padding-bottom: 0;">
        <div class="container-fluid" style="background-color: #242B2E;">
            <a class="navbar-brand" style="color: white;">SHAAJO</a>
            <div class="flex items-center">
                <a href="/login"
                    style="padding-left: 5px; padding-top: 3px; padding-bottom: 5px;"><button class="btn btn-success">My
                        Account</button></a>
                <a href="/login"
                    style="padding-left: 5px; padding-top: 3px; padding-bottom: 5px;"><button
                        class="btn btn-success">Track My Orders</button></a>
            </div>
        </div>
    </nav>
    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card text-black">
                        <p class="text-center h1 mb-5 mx-1 mx-md-4 mt-4" style="font-family: 'Ubuntu', sans-serif;">Log
                            In to Your Account</p>
                        <img src="/image-assets/shaajobanner-1@2x.png" class="img-fluid logffo" alt="Sample image">
                        <form class="mx-1 mx-md-4" method="post" action="/login">
                            <br>
                            <div class="form-group">
                                <label for="form3Example3c">Your Email</label>
                                <input name="email" type="email" id="form3Example3c" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="form3Example4c">Password</label>
                                <input name="password" type="password" id="form3Example4c" class="form-control" />
                            </div>
                            <p>Don't have an account? <a style="color: #FF0060;" href="/">Sign Up</a></p>
                            <center>
                                <button type="submit" class="btn btn-success" style="background: black;">Log In</button>
                                <br>
                                <br>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer'); -%>
</body>

</html>